.image-file-input-root {

  .input-file{
    display: none;
  }

  .imageFileInput-box {
    margin-top: 0.225rem;
    margin-bottom: 0.225rem;
  }
  .avatar-style{
      width: 150;
      height: 60;
      background:#1976d2d9;
    }
    .avatar-logo{
    font-size: 5rem;
  }
  

}
