.cp-operation-details-root {
  .tab-4-parah {
    background-color: rgb(233, 233, 233);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
  }
  .tab-4-important-parah {
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(241, 241, 241);
  }
  .tab-4-action-buttons {
    margin-top: 10px;
    justify-content: right;
  }
} 