.cp-react-toast-root {
  z-index: 999999;
  min-width: 20rem;
  .Toastify__toast{
    font-size: 1rem !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    letter-spacing: 0.00938em !important;
  }
  .Toastify__toast--info {
    color: #306391 !important;
    background-color: #dcedfc !important;
    border: 1px solid #cbe4fb !important;
  }
  .Toastify__toast--dark {
    background: #495057;
    color: #fff;
    .Toastify__close-button--default {
      color: #fff;
      opacity: 0.5;
    }
    .Toastify__progress-bar--default {
      color: #fff;
    }
  }
  .Toastify__toast--default {
    color: #306391 !important;
    background-color: #dcedfc !important;
    border: 1px solid #cbe4fb !important;
    .Toastify__close-button--default {
      color: #306391 !important;
      opacity: 0.5;
    }
  }
  .Toastify__toast--info {
    color: #306391 !important;
    background-color: #dcedfc !important;
    border: 1px solid #cbe4fb !important;
    .Toastify__close-button--info{
      color: #306391 !important;
      opacity: 0.5;
    }
    .Toastify__progress-bar--info {
      background: #306391;
    }
  }
  .Toastify__toast--success {
    color: #1f7556 !important;
    background-color: #d6f3e9 !important;
    border: 1px solid #c2eddd !important;
    .Toastify__close-button--success {
      color: #1f7556 !important;
      opacity: 0.5;
    }
    .Toastify__progress-bar--success {
      background: #1f7556;
    }
  }
  .Toastify__toast--warning {
    color: #916c2e !important;
    background-color: #fcf0db !important;
    border: 1px solid #fbe9c9 !important;
    .Toastify__close-button--warning {
      color: #916c2e !important;
      opacity: 0.5;
    }
    .Toastify__progress-bar--warning {
      background: #916c2e ;
    }
  }
  .Toastify__toast--error {
    color: #924040 !important;
    background-color: #fde1e1 !important;
    border: 1px solid #fcd2d2 !important;
    .Toastify__close-button--error {
      color: #924040 !important;
      opacity: 0.5;
    }
    .Toastify__progress-bar--error {
      background: #924040;
    }
  }
}
